
.box-player-name {
    min-width: 100px;
    margin: 10px;
    padding: 10px;
}

.box-player-name-playing {
    border: solid;
    border-color: lightgreen;
    border-radius: 10%;
}

/* smaller then ball-player class */
#img-ball-player1 {
    width: 25px;
    height: 25px;
    background-color: gold;
    border-radius: 50%;
}
#img-ball-player2 {
    width: 25px;
    height: 25px;
    background-color: crimson;
    border-radius: 50%;
}

#connect-four-grid {
    display: flex;
    justify-content: center;
}
.connect-four-col {
    width: 75px;

    justify-content: center;
}
.connect-four-row {
    display: flex;
    height: 75px;
    border: solid;

    justify-content: center;
}

.ball-player-1 {
    width: 65px;
    height: 65px;
    background-color: gold;
    border-radius: 50%;
}
.ball-player-2 {
    justify-content: center;
    width: 65px;
    height: 65px;
    background-color: crimson;
    border-radius: 50%;
}
